.header {
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-wrapper {
  padding: 10px;
  width: 80px;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

.skip-link:focus,
.skip-link:active {
  left: 0;
  position: relative;
  opacity: 1;
  height: auto;
  font-size: 1em;
  display: block;
  color: black;
  background-color: var(--secondary-color);
  padding: 10px;
}

.banner {
  padding: 16px;
  text-align: center;
  background-color: rgb(255, 244, 229);
}

.banner p {
  margin: 0;
  color: rgb(102, 60, 0);
}
