<a
  class="visually-hidden skip-link"
  href="#main-content"
  onclick="event.preventDefault(); location.hash='main-content';"
  >Overslaan en naar de inhoud gaan</a
>
<section class="banner">
  <p>
    Deze website wordt op 31 maart 2025 gesloten. De transcripties kun je vinden
    op de websites van de participerende archiefinstellingen of op
    <a href="https://www.openarchieven.nl" target="_blank" noreferrer
      >openarchieven.nl</a
    >.
  </p>
</section>
<header class="header">
  <div class="logo-wrapper">
    <img class="logo" src="assets/images/logo.svg" alt="Nationaal Archief" />
  </div>
</header>
<router-outlet></router-outlet>
